<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Basic-C.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>C-Means.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Enum.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Extern Storage Class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>FileRead.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>K-Means-Difuso.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Null-Pointers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Pointers Arithmetic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Pointers.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ReadData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Register Storage class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Static Storage Class.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>T-Casting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4916D9DC1F6706CA009F0EF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>492398501F4E14EB0084A09D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494EE9541F55E22C004F6F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494EE95F1F55E7ED004F6F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494EE96A1F55E9B1004F6F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>494EE9751F55EB3E004F6F1A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4964BCD11F4F532900E8CC81</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496821CC1F57625B004392AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4970F9031F4E0AAC0053D5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4970F9111F4E0ECC0053D5C6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>497B87221F54C24A00AF7A2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>498D6D3D1F588FC100FFC523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49FC9C7D1F82B9ED001DE150</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
